.main-info {
    height: 100vh;

}

.side-bar {

    border: 1px solid black;
}

@media (max-width: 1500px) {
    .main-info {
        display: flex;
    }
    /* Убираю нижнее меню для компа */
    .bottom {
        display: none;
    }

    .side-bar {
        flex-grow: 0.8;
        height: 100%;
        position: relative;
        right: 0;
    }

    .info {
        flex-grow: 2.5;
        height: 40vh;
    }
}

@media (max-width: 830px) {
    .main-info {
        display: flex;
        flex-direction: column;
    }
    /* Включаю нижнее меню и выключаю левое */
    .bottom {display: flex;}

    .left {display: none;}

}

@media (max-width: 500px) {
    .main-info {
        display: flex;
        flex-direction: column;
    }
    /* Включаю нижнее меню и выключаю левое */
    .bottom {display: flex;}

    .left {display: none;}

}