.main-info {
    height: 100vh;
    box-sizing: border-box;
}


.sm > ul > li {
    list-style: none;
    font-size: 2em;
    border-bottom: 1px solid rgba(103,107,109,0.15);;
}

.sm > ul > li:last-of-type {
    border: none;
}

.banner {
    margin-bottom: 10px;
}

.left {
    position: sticky;
    top: 0;
}

.sm {
    position: sticky;
    top: 0;
}


@media (max-width: 2000px) {
    .main-info {
        display: flex;
        height: auto;
    }
    /* Убираю нижнее меню для компа */
    .bottom {
        display: none;
    }

    .side-bar {
        height: 100%;
        padding: 0 20px 0 20px;
    }

    .side-menu > ul > li {
        margin: 20px 0 0 0;
    }

    .info {
        flex-grow: 11;
        height: auto;
    }

    video, .video-title {
        width: 90%;
        padding-left: 5%;
        font-size: 30px;
    }

    .info-title {
        padding-left: 5%;
        font-size: 1em;
        font-family: sans-serif;
    }



}

@media (max-width: 830px) {
    .main-info {
        display: flex;
        flex-direction: column;
    }
    /* Включаю нижнее меню и выключаю левое */
    .bottom {display: flex;}

    .left {display: none;}

    .info-title {
        padding-left: 5%;
        font-size: 1em;
        font-family: sans-serif;
    }

    video, .video-title {
        width: 90%;
        padding-left: 5%;
    }

}

@media (max-width: 500px) {
    .main-info {
        display: flex;
        flex-direction: column;
    }
    /* Включаю нижнее меню и выключаю левое */
    .bottom {display: flex;}

    .left {display: none;}

    .info-title {
        padding-left: 5vw;
        font-size: 1em;
        font-family: sans-serif;
    }

    video, .video-title {
        width: 90vw;
        padding-left: 5vw;
    }

}