{% load static %}

<html>
<head>
	<title>Пациентам</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'patient/css/patient.css' %}">
	<link rel="stylesheet" href="{% static 'patient/css/info.css' %}">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<div class="container">

	<header>
		<div class="head">
			<div>логотип</div>
			<div><a href="index.html">На главную</a></div>
			<div>+79997778906<br>+79884446662</div>
		</div>
		<nav class="menu">
			<ul class="menu-list">
				<li class="menu-button">Диагнозы</li>
				<li class="menu-button">Кнопка</li>
				<li class="menu-button">Кнопка</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="banner">
			<img class="banner-image" src="siluet-Moskvy.png" alt="">
		</div>
		<div class="main-info">
			<aside class="side-bar left"></aside>
			<div class="info">

			</div>
			<aside class="side-bar bottom"></aside>


		</div>
	</main>

	</div>
</body>
</html>