{% extends 'patient/base.html' %}
{% load static %}


{% block banner %}
    <div class="banner">
        <img class="banner-image" src="{% static 'patient/red.jpg' %}" alt="">
        <img class="banner-image" src="{% static 'patient/yellow.jpg' %}" alt="">
        <img class="banner-image" src="{% static 'patient/green.jpg' %}" alt="">
    </div>
{% endblock %}

{% block video %}
<video width="200px" height="200px" autoplay controls>
    <source src="{{ video }}" autoplay type="video/mp4">
</video>
{% endblock %}