{% extends 'patient/base.html' %}
{% load static %}


{% block banner %}
    <div class="banner">
        <img class="banner-image" src="{% static 'patient/red.jpg' %}" alt="">
        <img class="banner-image" src="{% static 'patient/yellow.jpg' %}" alt="">
        <img class="banner-image" src="{% static 'patient/green.jpg' %}" alt="">
    </div>
{% endblock %}

{% block video %}
    {% for vid in video %}
<!-- Если видео добавлено -->
    {% if vid.is_published is True %}
    <video width="200px" height="200px" autoplay controls>
        <source src="{{ vid.video_path.url }}" type="video/mp4">
    </video>
    {% endif %}
    {% endfor %}
{% endblock %}